
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">
Hakkımda
</button>
<div class="modal" id="modal1">
    <div class="modal-dialog">
        <div class="modal-dialog-centered">
            <div class="modal-header">
                <h2 class="modal-body"> HAKKIMDA</h2>


            </div>
            <br />

            <label>Merhabalar İsmim Furkan Kaya. Bu projeyi 7.08.2024 tarihinde bitirdim. Erzincan Üniversitesi Bilgisayar Mühendisliği Bölümü Mezunuyum. İlk Mvc projemi sizlerle paylaşmak istedim. Umarım yararlı olmuştur. Projemi İnceledeğiniz İçin Teşekkür Ederim.</label>
                <div class="modal-body">
                    <br />
           
                </div>

        </div>
    </div>
</div>

